
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">




  <style>

    @media (min-width: 768px) {
    }
  </style>
  <!-- Custom styles for this template -->

</head>
<body class="text-center">
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <header class="masthead mb-auto">
    <div class="inner">
      <h3 class="masthead-brand">Mesures de précaution contre la propagation du virus Covid-19.
      </h3>
      <nav class="nav nav-masthead justify-content-center">
        <a class="nav-link active" routerLink="home" >Accueil</a>
        <a class="nav-link " routerLink="covid19" >Covid-19</a>
        <a class="nav-link" routerLink="propqgation">Propagation</a>
        <a class="nav-link" routerLink="sensibilisation"  >Sensibilisation</a>
        <a class="nav-link" routerLink="belgique-maroc">Belgique et Maroc</a>
        <a class="nav-link" routerLink="mesures-de-precaution"  >Mesures antipropagation</a>

      </nav>
    </div>
  </header>

  <router-outlet>


  </router-outlet>








</div>

</body>
</html>
