<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>Titre de la page</title>
  <link rel="stylesheet" href="">
  <script src=""></script>
</head>
<header class="masthead mb-auto">
  <h1>Mesures de précaution à adopter contre la propagation du virus Covid-19</h1>

</header>
<body>
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">

<p>Plus de 300 mesures ont été prises par le Maroc dans le cadre de son approche globale, anticipative
  et proactive pour lutter contre la propagation du Covid-19 et ses effets dévastateurs.</p>



<p>Dès la confirmation du premier cas au Maroc, le gouvernement, suivant des instructions royales, a donné
  la priorité à la santé et à la sécurité des citoyens. Cette approche a été développée avec l’évolution de
  la situation et immédiatement renforcée par la création, sur instructions royales, du Fonds spécial dédié à
  la gestion de la crise pandémique, rappelle le quotidien Al Ahdath Al Maghrebia dans son édition du week-end
  des 2 et 3 mai.</p>


<p>Ainsi, un soutien et un appui ont été apportés aux catégories vulnérables et touchées par cette pandémie. Dans
  ce cadre, des familles défavorisées disposant ou non de la carte RAMED ont bénéficié d’aides en fonction de la
  taille du ménage. L’aide, rappelle le quotidien, est de 800 dirhams pour les ménages de deux personnes ou moins,
  1.000 dirhams pour les ménages composés de trois à quatre personnes et 1.200 dirhams pour les ménages formés de
  plus de quatre personnes.</p>


<p>Dans le même sillage, une indemnité forfaitaire de 2.000 dirhams a été octroyée aux salariés déclarés à la Caisse
  nationale de sécurité sociale (CNSS) ayant perdu leur emploi à cause de la crise. Autant dire que le Comité de veille
  économique (CVE) a cerné toute la problématique de la précarité pour mieux la combattre et soutenir l’économie nationale.</p>


<p>En parallèle, des mesures accompagnant la mise en œuvre de l'état d’urgence sanitaire et de confinement général ont été
  suivies que ce soit au niveau de la poursuite du processus d’enseignement à distance, de la formation professionnelle, de
  la continuité des principaux services publics ou encore de l'approvisionnement continu et suffisant des marchés en produits
  de base.</p>


<p>En fait, souligne le quotidien, toutes les initiatives prises par le Maroc dans cette période exceptionnelle sont destinées
  principalement aux catégories vulnérables et aux groupes et entreprises les plus touchés selon une perspective solidaire.
  D’ailleurs, le bilan actuel de la situation sanitaire confirme jusqu’à présent la pertinence des mesures proactives engagées
  par le Maroc pour endiguer cette pandémie.</p>



<p>En imposant des mesures restrictives dès le début du mois de mars et en communiquant très vite auprès de la population, le
  Maroc a su limiter la propagation du virus, estime le professeur Mohammed Amine Serghini, de l’Université Ibn Zohr d’Agadir.</p>

<p>Le Maroc, où la propagation du Covid-19 reste faible, s’est doté de mesures précoces et décisives contre l’épidémie. Le royaume
  a bénéficié de recul par rapport à d’autres pays et a appliqué une gestion associant prévoyance, fermeté et rigueur, avec une
  bonne collaboration de l’ensemble de sa population.</p>

<p>Les premières mesures pour endiguer la propagation du virus ont été fondées sur des actions préventives, déclenchées dès l’enregistrement
  d’un premier cas sur son sol, le 2 mars. La fermeture des frontières aériennes, terrestres et maritimes a été annoncée, puis celle des établissements
  scolaires et universitaires, des cafés, restaurants et commerces non essentiels, et enfin celle des lieux de culte ainsi que l’interdiction
  des manifestations.</p>

<p>Le confinement sanitaire obligatoire a été instauré le 20 mars, peu de temps après l’appel au confinement volontaire.</p>

<p>Le Maroc s’est investi dans une réelle sensibilisation de masse, accompagnée de sanctions dissuasives et largement diffusées sur
  les chaînes de télévision et de radio, dans la presse, sur les portails web officiels, sur les réseaux sociaux et à travers des
  actions de terrain, y compris l’utilisation de drones.</p>

<p>Les messages et capsules explicatives audio et vidéo se caractérisent par leur aspect concret et pratique, leur simplicité et leur
  accessibilité, grâce à leur diffusion en arabe (en prenant soin de se rapprocher de l’arabe dialectal), en amazigh et en français.
  L’utilisation massive par la population des réseaux sociaux, notamment WhatsApp et Facebook, joue un rôle central dans la diffusion
  de l’information à grande vitesse.</p>


<p>Côté financier, le fonds solidaire de lutte contre le coronavirus institué par le roi, Mohammed VI, constitue un outil de premier
  plan. Il a réuni des moyens substantiels en un temps record (3 milliards d’euros en moins d’une semaine) et a montré combien les
  Marocains sont solidaires et voués à cette cause.</p>

<p>Les donateurs viennent de sphères et d’origines diverses : organismes étatiques, fédérations, fondations, associations, banques,
  assurances et mutuelles, sociétés privées, personnes physiques, parlementaires, hauts fonctionnaires et simples citoyens, qui peuvent
  aussi contribuer par l’envoi de SMS (au 1919), chacun représentant un don de 0,09 euro.</p>



<p>Ce fonds reçoit et gère également des contributions en nature, telle que la réhabilitation de services hospitaliers, la mise à disposition
  d’hôtels pour le personnel soignant et, de la part des autorités, la prise en charge de la plateforme d’écoute et de veille (Allo Yakada),
  des ambulances, du matériel médical, des médicaments, des produits de première nécessité, etc.</p>

<p>Ses objectifs ? Mettre à disposition du monde médical des infrastructures et du matériel, répondre aux répercussions sanitaires du Covid-19
  et à ses impacts économiques et sociaux, notamment à travers l’indemnisation des salariés en arrêt de travail en raison de la crise.</p>

<p>Au 22 avril, le nombre de personnes atteintes au Maroc s’élève à 3 377 cas confirmés, dont 398 guérisons (11,79 %) et 149 décès (4,41 %),
  soit un pourcentage de guérison en deçà de la moyenne mondiale (25,98 %), mais également un taux de mortalité inférieur à celui de la moyenne
  mondiale (6,87 %).</p>

<p>Les mesures adoptées dans le pays ont en effet permis de limiter la progression de la maladie. On peut évaluer à quel point le confinement et
  la distanciation peuvent être efficaces en prenant comme exemple l’agglomération de Safi (plus de 300 000 habitants), qui n’enregistrait aucune
  infection au 8 avril, ou la région de Souss Massa (3 millions d’habitants), qui ne comptait pas plus de 20 cas confirmés à cette même date.</p>

<h2>Organisation de la riposte à l’infection dans les entreprises</h2>

<p>D’autres mesures auront certainement des répercussions positives dans la lutte contre le Covid-19 : le suivi pointu des personnes ayant été en
  contact avec les malades ; l’augmentation de la capacité de dépistage ; l’adoption, le 23 mars, d’un nouveau protocole thérapeutique basé sur la
  chloroquine (le gouvernement marocain a acquis la totalité du stock de Nivaquine et de Plaquenil fabriqués par Sanofi à Casablanca) ; l’instauration
  du port obligatoire des masques respiratoires (dont la capacité nationale de production frôle les 5 millions par jour) ; l’augmentation de la
  production des gels hydroalcooliques à des fins commerciales ou pour un usage interne (OCP développe un gel hydroalcoolique pour son usage
  interne, pour ses collaborateurs et ses sous-traitants) ; ainsi que la fabrication de respirateurs artificiels 100 % marocains.</p>

<p>Au Maroc comme ailleurs, le commerce en ligne a atteint des chiffres records. Les canaux de communication et de débats sur la pandémie se multiplient.
  Surtout, le confinement imposé par le Covid-19 a montré à quel point notre mode de vie (quête sans limite du gain, marketing poussé à l’extrême,
  incitation démesurée à la consommation) a installé, au sein d’une bonne partie des populations, un état de stress et de surpression qui ne va pas
  forcément dans le sens de l’épanouissement et du bonheur.</p>

<p>Cette pandémie a aussi le mérite d’accélérer la remise en question de notre modèle économique, entre autres, en matière d’autonomie régionale et
  de mécanismes de régulation de la mondialisation. Elle a montré combien l’homme peut être fragile, à quel point les pays les plus développés
  pouvaient eux aussi être limités et avoir besoin de l’entraide internationale. Retiendrons-nous le bon message et les bonnes leçons ?</p>


<p>Dans le contexte actuel, les employeurs doivent contribuer à la protection de leurs employés
  contre le risque du Covid-19 en mettant en œuvre des mesures de prévention des infections et
  les bonnes pratiques d’hygiène dans leur milieu et en facilitant l’application des mesures
  préconisées par les autorités sanitaires afin de limiter la propagation du virus SARS-CoV-2</p>

<h3>Que doit faire un employeur ?</h3>

<p> Ces actions devraient être pilotées par le médecin de travail de l’entreprise et/ou le comité de
  sécurité et d’hygiène s’il existe et, à défaut, l’employeur désigne une équipe de pilotage.</p>
<div>
  <ol>
    <li>L’information et la sensibilisation des salariés sur le risque lié à ce virus et les moyens de
      protection adaptés en utilisant les supports de communication disponibles sur le site du
      Ministère de la Santé.</li><br>
    <li>La mise à niveau des installations sanitaires sur les lieux de travail conformément aux
      exigences d’hygiène générale et de nettoyage prescrites par la règlementation nationale.</li><br>
    <li>Pour les entreprises de plus de 50 salariés, la mise en place d’une cellule de veille dont le
      but est de :</li></ol><br>
  <ul>
    <li>Procéder à l’évaluation du risque encouru par l’entreprise et ses salariés.</li><br>
    <li>Suivre la situation épidémiologique à l’échelle nationale et mondiale établie par les
      services du Ministère de la Santé en vue de prendre les décisions qui s’impose le
      cas échéant.</li><br>
    <li>Mettre en place un plan de riposte et de prévention vis-à-vis de l’épidémie en
      fonction de son évolution conformément aux directives du Ministère de la Santé.</li><br></ul></div>

<h3>Que doit faire un employé ?</h3>

<div>
  <ul>
    <li>Respect des consignes générales émises par les autorités.</li><br>
    <li>Respect des consignes de sécurité et d’hygiène prescrites par le règlement de
      l’entreprise.</li><br>
    <li>Signalement de toute apparition de symptômes de la maladie en cas de séjour à
      l’étranger conformément aux recommandations prises par l’employeur.</li><br>
    <li>Maintien de l’hygiène individuelle et de la propreté sur les lieux de travail.</li><br>
    <li>Application des gestes usuels de prévention en cas des manifestations symptomatiques
      respiratoires comme la toux et l’éternuement.</li><br>
    <li>Limitation des contacts inutiles sur les lieux de travail en cas d’apparition d’un cas
      possible dans l’entreprise notamment les embrassades et les poignées de main.</li><br>
    </ul></div>


<p>Dans tous les cas, l’employeur** doit se conformer strictement aux décisions des autorités
  concernant cette épidémie, particulièrement celles concernant les rassemblements. </p>

<h2>Procédures et conduites à tenir sur les lieux de travail</h2>

<p>Elles décrivent les méthodes, les moyens et les règles nécessaires pour assurer la lutte contre l’infection
  du Covid-19 sur les lieux de travail et, ainsi, contribuer aux efforts des autorités à la riposte contre
  l’infection par le virus SARS-CoV-2.</p>

<h3> Comment prévenir la propagation du COVID-19 sur le lieu de travail ?</h3>

<p>Les mesures ci-dessous sont valables pour prévenir la propagation d'infections respiratoires sur votre
  lieu de travail, telles que le rhume, la grippe et à protéger vos clients, sous-traitants et employés.
  Il est primordial que les employeurs commencent à observer ces mesures maintenant, même si COVID19 n'a pas
  encore été enregistré dans la communauté ou l’entreprise.</p>

<h4>Assurez-vous que vos lieux de travail sont propres et les mesures d’hygiène respectées</h4>
<div>
  <ul>
    <li>Les surfaces (p. ex. bureaux et tables) et les objets (p. ex. téléphones, claviers) doivent être
      essuyés avec désinfectant régulièrement.</li><br>
    <li>Pourquoi ?</li>
    <p> Parce que la contamination des surfaces touchées par les employés et les clients est l'un des
      principaux moyens de propagation du COVID-19.</p>
    <h4> Promouvoir un lavage des mains régulier et approfondi par les employés, les sous-traitants et les
      clients</h4>
    <li> Placez des distributeurs de désinfectant pour les mains dans des endroits bien en vue du lieu de
      travail. Assurez-vous que ces distributeurs sont régulièrement remplis.</li><br>
    <li> Affichez des messages faisant la promotion du lavage des mains.</li><br>
    <li>Utiliser d’autres méthodes de communication telles que des séances d'information par des
      médecins de travail lors des réunions pour promouvoir le lavage des mains.</li><br>
    <li> Assurez-vous que le personnel, les employeurs et les clients ont accès à des endroits où ils
      peuvent se laver les mains avec du savon et de l'eau.</li><br>
    <li>Pourquoi ?</li>
    <p>Parce que le lavage tue le virus sur vos mains et empêche la propagation de COVID-19.</p>
    <h4>Promouvoir une bonne hygiène respiratoire sur le lieu de travail</h4>
    <li>Affichez des messages faisant la promotion de l'hygiène respiratoire.</li><br>
    <li> Utiliser d’autres méthodes de communication telles que des séances d'information par des
      médecins de travail lors des réunions pour promouvoir l’hygiène respiratoire.</li><br>
    <li> Assurez-vous que des masques faciaux et/ou des mouchoirs en papier sont disponibles sur vos
      lieux de travail, pour ceux qui développent un nez qui coule ou tousse au travail, ainsi que des
      poubelles fermées pour les éliminer de manière hygiénique.</li><br>
    <li> Pourquoi ?<br>
    Parce qu'une bonne hygiène respiratoire empêche la propagation de COVID-19.
  </ul>
</div>

<h3>En cas de voyage d'affaires</h3>
<div>
  <ul>
    <li>Conseillez aux employeurs et travailleurs de consulter les conseils de voyage nationaux avant le
      départ.</li><br>
    <p>Comment ?<br>
      Se référer aux « conseils aux voyageurs » sur le site du Ministère de la Santé.</p><br>
    <h4>En cas de transmission communautaire</h4><br>
    <li>Toute travailleur, client ou sous-traitant ayant une toux légère ou une fièvre doit rester à son
      domicile, et chercher des soins auprès des structures de santé.</li><br>
    <li>Toute travailleur, client ou sous-traitant ayant dû prendre des médicaments simples, comme le
      paracétamol, l'ibuprofène ou l'aspirine, qui peuvent masquer les symptômes de l'infection doit
      rester à son domicile (ou travailler à domicile).</li><br>
    <h4>Important</h4>
    • Continuez à communiquer et à promouvoir le message selon lequel les gens doivent rester à
    la maison même s'ils ne présentent que des symptômes bénins de COVID-19.
    • Affichez des affiches avec ce message dans vos lieux de travail. Utiliser d’autres canaux de
    communication disponible au sein de l’entreprise.
    • Consultez vos services de santé au travail, l'autorité de santé publique ou d'autres partenaires
    pour promouvoir ce message avec les différents supports de communication développés.</ul></div>

<h3>Comment gérer les réunions / évènements dans une entreprise ?</h3>
<div>

  <h4>Avant la réunion ou l'événement</h4>
  <ul>
    <p>Elaborer un plan de préparation pour prévenir l'infection lors de votre réunion ou événement</p>
    <li>Déterminez si une réunion ou un événement en personne est nécessaire. Pourrait-il être
      remplacé par une téléconférence ou un événement en ligne ?</li><br>
    <li>La réunion ou l'événement pourrait-il être réduit afin que moins de personnes y assistent ?</li><br>
    <li>Identifier à l'avance les canaux d'information et de communication avec les partenaires clés telles
      que la santé et les autorités de soins de santé.</li><br>
    <li>Précommander suffisamment de fournitures et de matériel, y compris des mouchoirs et un
      désinfectant pour les mains pour tous les participants. Disposez des masques chirurgicaux à la
      disposition de toute personne qui présente des symptômes respiratoires.</li><br>
    <li>Surveiller activement où circule COVID-19. Informez les participants à l'avance que s'ils
      présentent des symptômes ou se sentent mal, ils ne devraient pas y assister.</li><br>
    <li>Assurez-vous que tous les organisateurs, participants, traiteurs et visiteurs de l'événement
      fournissent leurs coordonnées : numéro de téléphone portable, e-mail et adresse où ils
      séjournent.</li><br>
    <li>Indiquez clairement que leurs coordonnées seront partagées avec les autorités locales de santé
      si un participant présente des symptômes d’une maladie infectieuse suspectée. En cas de refus,
      ils ne peuvent pas assister à l'événement ou à la réunion.</li><br></ul>

  <h5>Elaborer un plan de réponse au cas où un participant à la réunion tomberait malade avec des
    symptômes de COVID-19 (toux sèche, fièvre, malaise)</h5>
  Ce plan devrait comprendre au moins :
  <ul>
    <li>L’identification d’une pièce ou d’une zone où une personne qui ne se sent pas bien ou qui
      présente des symptômes peut être isolée en toute sécurité.</li><br>
    <li>L’organisation du circuit du transfert en toute sécurité du lieu de travail vers un établissement de
      santé.</li><br>
    <li>La définition de la conduite à suivre si un participant à la réunion, un membre du personnel ou
      un prestataire de services a un résultat positif au test COVID-19 pendant ou juste après la réunion.
      Le plan devra être établi d’avance en concertation et en accord avec votre fournisseur de soins et le
      service de santé au travail.</li><br>
  </ul></div>

<h4> Pendant la réunion ou l'événement</h4>
<div>
  <ul>
    <li> Fournir des informations ou un briefing, de préférence oralement et par écrit, sur COVID-19 et
      les mesures que les organisateurs prennent pour sécuriser cet événement pour les participants.</li><br>
    <li> Instaurer la confiance en procédant, par exemple, à saluer les participants avec une
      manière amusante sans vous toucher.</li><br>
    <li> Encouragez le lavage régulier des mains ou l'utilisation d'un désinfectant à l'alcool par tous
      les participants à la réunion ou événement.</li><br>
    <li> Encouragez les participants à se couvrir le visage du coude du coude ou d'un mouchoir s'ils
      toussent ou éternuent. Fournir des mouchoirs et des bacs fermés pour les éliminer.</li><br>
    <li> Fournir les coordonnées ou un numéro de hotline santé que les participants peuvent
      appeler pour obtenir des conseils ou pour donner des informations.</li><br>
    • Présentez des distributeurs de mains à base d'alcool autour de la salle.<br>
    • Arrangez les sièges selon l’espace du lieu de la réunion ou de l’événement de manière à ce que
    les participants soient distants d'au moins un mètre.<br>
    • Gardez les fenêtres et les portes ouvertes autant que possible pour vous assurer que le lieu est
    bien aéré.<br>
    • Si quelqu'un qui commence à se sentir mal, suivez votre plan de préparation ou appelez ALLO
    VEILLE (080 100 47 47) ou le SAMU (141).<br>
    • En fonction de la situation dans votre région ou du voyage récent du participant, placez la
    personne dans la salle d'isolement. Offrez à la personne un masque afin qu'elle puisse rentrer
    chez elle en toute sécurité, le cas échéant, ou dans un centre d'évaluation désigné.<br>
    • Remerciez tous les participants pour leur coopération avec les dispositions en place.</ul></div>

<h4>Après la réunion</h4>
<div>
  <ul>
    <li>Conservez les noms et les coordonnées de tous les participants pendant au moins un mois.
      Cela aidera les autorités de santé publique à retrouver les personnes qui pourraient avoir été
      exposées au COVID-19 si un ou plusieurs participants tombaient malades peu de temps après
      l'événement.</li><br>
    <li>Si une personne est mise en isolement en tant que cas suspect de Covid-19 pendant la réunion
      ou l’événement :
      o L’organisateur doit informer tous les participants.<br>
      o L’organisateur devra conseiller à tous les participants de surveiller eux-mêmes les
      symptômes pendant 14 jours et de prendre leur température deux fois par jour.</li><br>
    <li>Si un participant présente des symptômes
      Même si les symptômes sont légers comme une toux légère ou une fièvre de faible intensité
      (c'est-à-dire une température de 37,3 ° C ou plus)<br>
      o Il doit rester à la maison et s'isoler.<br>
      ➢ Cela signifie : éviter tout contact étroit (1 mètre ou plus) avec d'autres
      personnes, y compris des membres de la famille.<br>
      o Il doit téléphoner au fournisseur de soins de santé de l’entreprise ou au service de santé
      au travail et, à défaut, aux numéros ALLO VEILLE (080 100 47 47) ou le SAMU (141) pour
      avoir des détails sur leur voyage récent et leurs symptômes.</li><br>
    <li>Remerciez tous les participants pour leur coopération avec les dispositions en vigueur</ul>.</div>

<h3> Comment préparez l’entreprise à la transmission communautaire ?</h3>

<p>Elaborez un plan de ce que vous devez faire si une personne tombe malade avec une suspicion de
  COVID-19 sur l'un de vos lieux de travail</p>
<div>
  <ul>
    <li> Le plan devrait couvrir le fait de placer la personne malade dans une pièce ou un endroit où elle
      est isolée des autres sur le lieu de travail, en limitant le nombre de personnes en contact avec la
      personne malade et en contactant les autorités sanitaires locales.</li><br>
    <li> Réfléchissez à la façon d'identifier les personnes qui pourraient être à risque et soutenez-les sans
      stigmatisation ni discrimination sur le lieu de travail.<br>
      o Cela pourrait inclure des personnes qui se sont récemment rendues dans une zone qui ont
      signalé des cas, ou d'autres membres du personnel qui ont des conditions qui les exposent
      à un risque plus élevé de maladie grave (par exemple le diabète, les maladies cardiaques
      et pulmonaires, la vieillesse).</li><br>
    <li> Demandez l’avis de l’autorité de santé de votre province ou préfecture en cas de besoin sur votre
      plan et, le cas échéant, se référer aux directives du Ministère de la Santé mises en ligne sur le site
      du Ministère.</li><br></ul></div>

<h3>Encouragez le télétravail régulier dans votre organisation</h3>

<p>En cas d'épidémie de COVID-19 dans votre communauté, les autorités sanitaires peuvent conseiller
  aux gens d'éviter les transports en commun, les endroits surfréquentés et les déplacements inutiles.
  Le télétravail aidera votre entreprise à continuer de fonctionner pendant que vos employés restent
  en sécurité.</p>
<div>
  <ul>
    <li> Mettre en place un système de télétravail qui consiste à travailler à distance (dans ce contexte, à
      domicile) en utilisant les technologies de communication disponible actuellement : téléphone,
      ordinateur, modem, télécopieur ou courrier électronique.</li><br>
    <li> Ne garder que le personnel nécessaire et dont la présence est obligatoire.</li><br>
    <li> Procéder à la règle de limitation des regroupements de travailleurs dans des espaces réduits.</li><br>
    <li>Procéder à des rotations d’équipes.</li><br>
    <li> Octroyer des autorisations de déplacement aux salariés qui se déplacent lorsque les autorités
      l’exigent.</li><br></ul></div>

<h3>Elaborer un plan d'urgence et de continuité des activités en cas d'épidémie dans les communautés
  où votre entreprise opère</h3>
<div>
  <ul>
  <li>Le plan aidera à préparer l’entreprise à l'éventualité d'une épidémie de COVID19. Il peut
    également être valable pour d'autres urgences sanitaires.</li><br>
  <li>Le plan doit indiquer comment faire fonctionner l’entreprise même si un nombre important
    d'employés, de sous-traitants et de fournisseurs ne peuvent pas se rendre sur le site de
    l’entreprise, soit en raison de restrictions locales de voyage, soit parce qu'ils sont malades.</li><br>
  <li>Communiquer aux employés, sous-traitants et clients au sujet du plan et s’assurer qu'ils sont
    conscients de ce qu'ils doivent faire - ou ne pas faire - dans le cadre du plan.<br>
    o Insistez sur des points clés tels que l'importance de ne pas travailler même s'ils ne
    présentent que des symptômes bénins ou s’ils ont dû prendre des médicaments simples
    (par exemple paracétamol, ibuprofène) qui peuvent masquer les symptômes.</li><br>
  <li> S’assurer que le plan traite des conséquences sur la santé mentale et les conséquences sociales
    d'un cas de COVID-19 sur le lieu de travail ou dans la communauté et offrir des informations et
    du soutien.</li><br>
  <li> Pour les petites et moyennes entreprises sans soutien interne en matière de santé et de bienêtre du
    personnel, il faut développer des partenariats et des plans avec les prestataires locaux de
    services sociaux et de santé avant toute urgence.</li><br>
  <li>Les autorités de santé locale ou nationale peuvent être en mesure de vous conseiller dans
    l'élaboration du plan d’urgence.</li><br></ul></div>
</div>
</body>
</html>
