<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">




  <style>

    @media (min-width: 768px) {
    }
  </style>
  <!-- Custom styles for this template -->

</head>
<body class="text-center">
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">

  <main role="main" class="inner cover">
    <h1 class="cover-heading">Nous pensons certes que nous vivons une évolution, une transformation, mais le virus (Coronavirus) nous rappelle que nous vivons une Aventure, une Aventure dans l'inconnu, l'Aventure inouïe de l'espèce humaine.</h1>
    <img class="lead"
         src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQWim-GDcf5uCyQAuH6C-DT4VvfZVJqsablrNjLOigOE8mwP-_D&usqp=CAU"
         alt="Image de couverture "/>
    <p class="lead">
      <a   class="btn btn-dark btn-primary" routerLink="mesures-de-precaution">Apprendre plus</a>
    </p>
  </main>


    <div class="inner">
      <p>Application web developpée par <a href="https://getbootstrap.com/">Souhail KADMARI</a> et <a href="https://twitter.com/mdo">Khamiss MADIR</a>.</p>
    </div>

</div>
</body>
</html>

